<section id="proyectos" class= "proyectos section-padding">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div cLass="section-header text-center pb-5">
                <h2>Proyectos</h2>
                <p>Tanto en la escuela como en los diversos cursos realicé proyectos en los que apliqué diversas tecnologías como Arduino, Python o el stack de desarrollo web.</p>

                <button type="button" class="btn btn-dark" routerLink="/newproyecto" *ngIf="isLogged">
                  Agregar Proyecto
                </button>

            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-12 col-md-12 col-lg-4" *ngFor="let proyecto of proyecto">
            <div cLass="card text-center bg-white pb-2 mb-2">
                <div class="card-body text-dark">
                    <div class="img-area mb-4">
                        <img [src]="proyecto.img" alt="Proyecto" class="img-fluid">
                    </div>
                    <h3 class="card-title">{{proyecto.nombre}}</h3>
                    <p class="lead fw-normal">{{proyecto.descripcion}}</p>


                    <a [href]="proyecto.link" target="_blank"><button class="btn bg-warning text-dark">Más información</button></a>

                    <ul class="list-inline mt-3 mb-0 text-center">
                      <li class="list-inline-item">
                          <button class="btn btn-success btn-sm rounded-4" type="button" title="Edit" routerLink="/editproyecto/{{proyecto.id}}"><i class="fa fa-edit"></i></button>
                      </li>
                      <li class="list-inline-item">
                          <button class="btn btn-danger btn-sm rounded-4" type="button" title="Delete" (click)="delete(proyecto.id)"><i class="fa fa-trash"></i></button>
                      </li>
                    </ul>


<!--                     <div *ngIf="proyecto.imgBtn; else elseBlock">
                      <div *ngIf="proyecto.modal; else Block">
                        <button class="btn bg-warning text-dark" data-bs-toggle="modal" attr.data-bs-target="{{proyecto.target}}"><img class="imgInstructables" [src]="proyecto.srcImgBtn" [alt]="proyecto.altBtn"></button>
                      </div>
                      <ng-template #Block>
                        <a [href]="proyecto.href" target="_blank"><button class="btn bg-warning text-dark"><img class="imgInstructables" [src]="proyecto.srcImgBtn" [alt]="proyecto.altBtn"></button></a>
                      </ng-template>
                    </div>

                    <ng-template #elseBlock>
                      <div *ngIf="proyecto.modal; else Block">
                        <button class="btn bg-warning text-dark" data-bs-toggle="modal" attr.data-bs-target="{{proyecto.target}}">{{proyecto.boton}}</button>
                      </div>
                      <ng-template #Block>
                        <a [href]="proyecto.href" target="_blank"><button class="btn bg-warning text-dark">{{proyecto.boton}}</button></a>
                      </ng-template>
                    </ng-template> -->





                </div>
            </div>
        </div>










<!--
        <div class="col-12 col-md-12 col-lg-4">
          <div cLass="card text-center bg-white pb-2 mb-2">
              <div class="card-body text-dark">
                  <div class="img-area mb-4">
                      <img src="assets/img/Portfolio.png" alt="Portfolio" class="img-fluid">
                  </div>
                  <h3 class="card-title">Portfolio Web Full Stack</h3>
                  <p class="lead fw-normal">Aplicación web full stack desarrollada entre 2022 y 2023, que cumple la función de portfolio digital. Aplica una gran cantidad de tecnologías para su arquitectura distribuida y su diseño responsive.</p>
                  <a href="" target="_blank"><button class="btn bg-warning text-dark">Acceder</button></a>


                  <ul class="list-inline mt-3 mb-0 text-center">
                    <li class="list-inline-item">
                        <button class="btn btn-success btn-sm rounded-4" type="button" title="Edit" data-bs-toggle="modal" data-bs-target="#2proyectoModal"><i class="fa fa-edit"></i></button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-danger btn-sm rounded-4" type="button" title="Delete"><i class="fa fa-trash"></i></button>
                    </li>
                  </ul>


                </div>
          </div>
      </div>






      <div class="col-12 col-md-12 col-lg-4">
        <div cLass="card text-center bg-white pb-2 mb-2">
            <div class="card-body text-dark">
                <div class="img-area mb-4">
                    <img src="assets/img/Arduino.jpg" alt="Arduino" class="img-fluid">
                </div>
                <h3 class="card-title">Actividades en Arduino</h3>
                <p class="lead fw-normal">Realicé diferentes prácticas con elementos de Arduino en 2022, como pueden ser un Dado Digital, una Calculadora o un Teclado. </p>
                <button class="btn bg-warning text-dark" data-bs-toggle="modal" data-bs-target="#arduinoModal">Código</button>


                <ul class="list-inline mt-3 mb-0 text-center">
                  <li class="list-inline-item">
                      <button class="btn btn-success btn-sm rounded-4" type="button" title="Edit" data-bs-toggle="modal" data-bs-target="#3proyectoModal"><i class="fa fa-edit"></i></button>
                  </li>
                  <li class="list-inline-item">
                      <button class="btn btn-danger btn-sm rounded-4" type="button" title="Delete"><i class="fa fa-trash"></i></button>
                  </li>
                </ul>


              </div>
        </div>
    </div> -->

    </div>
  </div>
</section>



