<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a
            class="navbar-brand"
            href="https://argentinaprograma.inti.gob.ar"
            target="_blank"
            ><img
              class="logoArg"
              src="assets/img/LogoArgProg.png"
              alt="Argentina-Programa"
              width="100%"
          /></a>




    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">#YoProgramo</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Secciones
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#acerca">Acerca de...</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#experiencia">Experiencia</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#educacion">Educación</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#skills">Hard & Soft Skills</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#proyectos">Proyectos</a></li>

          </ul>
        </li>
      </ul>



      <ul class="list-group list-group-horizontal me-2">
        <li class="list-group-item">
          <a href="https://github.com/Facundo177" target="_blank"
            ><i
              class="fa-brands fa-square-github fa-beat-fade fa-lg"
              style="
                --fa-beat-fade-opacity: 0.67;
                --fa-beat-fade-scale: 1.2;
                color: white;
              "
            ></i
          ></a>
        </li>
        <li class="list-group-item">
          <a href="https://www.linkedin.com/in/facundo-gabriel-gait%C3%A1n-segura-16bb75264" target="_blank"
            ><i
              class="fa-brands fa-linkedin fa-beat-fade fa-lg"
              style="
                --fa-beat-fade-opacity: 0.67;
                --fa-beat-fade-scale: 1.2;
                color: white;
              "
            ></i
          ></a>
        </li>
        <li class="list-group-item">
          <a href="https://codepen.io/Facundo177" target="_blank"
            ><i
              class="fa-brands fa-codepen fa-beat-fade fa-lg"
              style="
                --fa-beat-fade-opacity: 0.67;
                --fa-beat-fade-scale: 1.2;
                color: white;
              "
            ></i
          ></a>
        </li>
      </ul>




    </div>

      <button type="button" class="btn btn-light my-2" (click)="login()" *ngIf="!isLogged">
        <b>Login</b>
      </button>

      <button type="button" class="btn btn-light m-2" (click)="onLogOut()" *ngIf="isLogged">
        <b>Logout</b>
      </button>

<!--       <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
      <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button> -->


  </div>
</nav>


<app-modal-login></app-modal-login>
