            <!-- Modal Educación-->
            <div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="educacionModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="educacionModalLabel">Editar Educación</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <form [formGroup]="form" (ngSubmit)="onEnviar($event)">

                  <div class="modal-body">
                      <div class="mb-3">
                        <label for="exampleInputEduTitle" class="form-label">Título</label>
                        <input type="text" class="form-control" id="exampleInputEduTitle" formControlName="titulo" [class.border-danger]="TituloInvalid">
                      </div>

                      <div *ngIf="Titulo?.errors && Titulo?.touched">
                        <p *ngIf="Titulo?.hasError('required')" class="error">Introduzca un título.</p>
                        <p *ngIf="Titulo?.errors?.['pattern']" class="error">El título no es válido.</p>
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputEduText" class="form-label">Texto</label>
                        <textarea class="form-control" id="exampleInputEduText" formControlName="texto" [class.border-danger]="TextoInvalid"></textarea>
                      </div>

                      <div *ngIf="Texto?.errors && Texto?.touched">
                        <p *ngIf="Texto?.hasError('required')" class="error">Introduzca un texto.</p>
                        <p *ngIf="Texto?.errors?.['pattern']" class="error">El texto no es válido.</p>
                      </div>


                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                  </div>

                  </form>

                </div>
              </div>
          </div>






            <!-- Modal Certificado FCE-->
            <div class="modal fade" id="CertifFCEModal" tabindex="-1" aria-labelledby="CertifFCEModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img src="assets/img/FCE.jpg" alt="Certificado FCE" class="img-fluid">
                  </div>
                </div>
              </div>
          </div>

            <!-- Modal Certificado CAE-->
            <div class="modal fade" id="CertifCAEModal" tabindex="-1" aria-labelledby="CertifCAEModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img src="assets/img/CAE.jpg" alt="Certificado CAE" class="img-fluid">
                  </div>
                </div>
              </div>
          </div>

            <!-- Modal Certificado SéProgramar-->
            <div class="modal fade" id="CertifSeProgModal" tabindex="-1" aria-labelledby="CertifSeProgModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img src="assets/img/argentina_programa_2022.jpg" alt="Certificado Sé Programar" class="img-fluid">
                  </div>
                </div>
              </div>
          </div>

            <!-- Modal Card 1 Educación-->
            <div class="modal fade" id="1educacionModal" tabindex="-1" aria-labelledby="1educacionModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="1educacionModalLabel">Editar Apartado 1</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <form>
                      <div class="mb-3">
                        <label for="exampleInput1educacion" class="form-label">Logo</label>
                        <input type="url" placeholder="Inserte url de imagen" class="form-control" id="exampleInput1educacionLogo"  required>
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputProyectoTitle" class="form-label">Título</label>
                        <input type="text" class="form-control" id="exampleInput1educacionTitle">
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputInfo" class="form-label">Información</label>
                        <textarea class="form-control" id="exampleInput1educacionInfo"></textarea>
                      </div>

                      <div class="mb-3">
                        <label for="exampleInput1educacion" class="form-label">Certificado o Vínculo al Sitio Web</label>
                        <input type="text" placeholder="Inserte texto del botón" class="form-control" id="exampleInput1educacionButton">
                        <input type="url" placeholder="Inserte url de imagen" class="form-control" id="exampleInput1educacionImg">
                        <input type="url" placeholder="Inserte url del sitio web" class="form-control" id="exampleInput1educacionWeb">
                      </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                  </form>
                  </div>
                </div>
              </div>
          </div>

            <!-- Modal Card 2 Educación-->
            <div class="modal fade" id="2educacionModal" tabindex="-1" aria-labelledby="2educacionModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="2educacionModalLabel">Editar Apartado 2</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <form>
                      <div class="mb-3">
                        <label for="exampleInput2educacion" class="form-label">Logo</label>
                        <input type="url" placeholder="Inserte url de imagen" class="form-control" id="exampleInput2educacionLogo"  required>
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputProyectoTitle" class="form-label">Título</label>
                        <input type="text" class="form-control" id="exampleInput2educacionTitle">
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputInfo" class="form-label">Información</label>
                        <textarea class="form-control" id="exampleInput2educacionInfo"></textarea>
                      </div>

                      <div class="mb-3">
                        <label for="exampleInput2educacion" class="form-label">Certificado o Vínculo al Sitio Web</label>
                        <input type="text" placeholder="Inserte texto del botón" class="form-control" id="exampleInput2educacionButton">
                        <input type="url" placeholder="Inserte url de imagen" class="form-control" id="exampleInput2educacionImg">
                        <input type="url" placeholder="Inserte url del sitio web" class="form-control" id="exampleInput2educacionWeb">
                      </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                  </form>
                  </div>
                </div>
              </div>
          </div>

            <!-- Modal Card 3 Educación-->
            <div class="modal fade" id="3educacionModal" tabindex="-1" aria-labelledby="3educacionModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="3educacionModalLabel">Editar Apartado 3</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <form>
                      <div class="mb-3">
                        <label for="exampleInput3educacion" class="form-label">Logo</label>
                        <input type="url" placeholder="Inserte url de imagen" class="form-control" id="exampleInput3educacionLogo"  required>
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputProyectoTitle" class="form-label">Título</label>
                        <input type="text" class="form-control" id="exampleInput3educacionTitle">
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputInfo" class="form-label">Información</label>
                        <textarea class="form-control" id="exampleInput3educacionInfo"></textarea>
                      </div>

                      <div class="mb-3">
                        <label for="exampleInput3educacion" class="form-label">Certificado o Vínculo al Sitio Web</label>
                        <input type="text" placeholder="Inserte texto del botón" class="form-control" id="exampleInput3educacionButton">
                        <input type="url" placeholder="Inserte url de imagen" class="form-control" id="exampleInput3educacionImg">
                        <input type="url" placeholder="Inserte url del sitio web" class="form-control" id="exampleInput3educacionWeb">
                      </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                  </form>
                  </div>
                </div>
              </div>
          </div>

            <!-- Modal Card 4 Educación-->
            <div class="modal fade" id="4educacionModal" tabindex="-1" aria-labelledby="4educacionModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="4educacionModalLabel">Editar Apartado 4</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <form>
                      <div class="mb-3">
                        <label for="exampleInput4educacion" class="form-label">Logo</label>
                        <input type="url" placeholder="Inserte url de imagen" class="form-control" id="exampleInput4educacionLogo"  required>
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputProyectoTitle" class="form-label">Título</label>
                        <input type="text" class="form-control" id="exampleInput4educacionTitle">
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputInfo" class="form-label">Información</label>
                        <textarea class="form-control" id="exampleInput4educacionInfo"></textarea>
                      </div>

                      <div class="mb-3">
                        <label for="exampleInput4educacion" class="form-label">Certificado o Vínculo al Sitio Web</label>
                        <input type="text" placeholder="Inserte texto del botón" class="form-control" id="exampleInput4educacionButton">
                        <input type="url" placeholder="Inserte url de imagen" class="form-control" id="exampleInput4educacionImg">
                        <input type="url" placeholder="Inserte url del sitio web" class="form-control" id="exampleInput4educacionWeb">
                      </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                  </form>
                  </div>
                </div>
              </div>
          </div>

            <!-- Modal Card 5 Educación-->
            <div class="modal fade" id="5educacionModal" tabindex="-1" aria-labelledby="5educacionModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="5educacionModalLabel">Editar Apartado 5</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <form>
                      <div class="mb-3">
                        <label for="exampleInput5educacion" class="form-label">Logo</label>
                        <input type="url" placeholder="Inserte url de imagen" class="form-control" id="exampleInput5educacionLogo"  required>
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputProyectoTitle" class="form-label">Título</label>
                        <input type="text" class="form-control" id="exampleInput5educacionTitle">
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputInfo" class="form-label">Información</label>
                        <textarea class="form-control" id="exampleInput5educacionInfo"></textarea>
                      </div>

                      <div class="mb-3">
                        <label for="exampleInput5educacion" class="form-label">Certificado o Vínculo al Sitio Web</label>
                        <input type="text" placeholder="Inserte texto del botón" class="form-control" id="exampleInput5educacionButton">
                        <input type="url" placeholder="Inserte url de imagen" class="form-control" id="exampleInput5educacionImg">
                        <input type="url" placeholder="Inserte url del sitio web" class="form-control" id="exampleInput5educacionWeb">
                      </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                  </form>
                  </div>
                </div>
              </div>
          </div>


