<section id="acerca" class="acerca section-padding">
  <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <button type="button" routerLink="/editacerca/1" class="btn btn-dark" *ngIf="isLogged">Editar persona</button>
        </div>

          <div class="col-lg-4 col-md-12 col-12">
              <div class="about-img">
                <img src={{persona.img}} alt="Foto del usuario" class="img-fluid rounded-5 my-2">
              </div>

              <ul class="list-inline m-0 mt-2 mb-4 text-center" *ngIf="isLogged">
                <li class="list-inline-item">
                    <button class="btn btn-success btn-sm rounded-4" type="button" title="Edit" routerLink="editacerca/1"><i class="fa fa-edit"></i></button>
                </li>
              </ul>

          </div>

          <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
              <div class="about-text text-center text-lg-start">

                  <h2>{{persona.nombre}} {{persona.apellido}}</h2>

                  <h4 class="text-secondary mt-2 mb-3">{{persona.titulo}}</h4>

                  <p class="my-2">
                    {{persona.descripcion}}
                  </p>

              </div>
              </div>
          </div>
      </div>

</section>

<hr>
